/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Invoice_Key]
      ,[DataSourceID]
      ,[PlanCategoryID]
      ,[FERCAccount]
      ,[FERCAccountSub]
      ,[SCECostCenter]
      ,[SCECostElement]
      ,[SCECostElement_GroupID]
      ,[CARSSourceDesignator]
      ,[CARSSourceCode]
      ,[SCELocation]
      ,[SCEFunction]
      ,[SCEPostingDate]
      ,[SCEDocumentDate]
      ,[DocumentTypeID]
      ,[MaterialID]
      ,[WBSProject]
      ,[SCEOrderNumber]
      ,[SCEOrderType]
      ,[TransactionDescription]
      ,[SCEVendorID]
      ,[PONumber]
      ,[GLAccount]
      ,[CARSAccount]
      ,[EmployeeID]
      ,[JobTitle]
      ,[JobType]
      ,[PartnerObject]
      ,[PartnerActivityID]
      ,[PartnerActivityName]
      ,[PartnerCostCenter]
      ,[PartnerOrder]
      ,[PartnerProfitCenter]
      ,[ProfitCenter]
      ,[CARS_AOR]
      ,[CARS_AORDept]
      ,[CODocumentLineItem]
      ,[CARSReferenceNumber]
      ,[Amount]
      ,[Quantity]
      ,[Units]
      ,[Billable]
      ,[LOCKED]
      ,[Amount_Original]
      ,[Amount_Allocation]
      ,[Amount_Adjustment]
      ,[Notes]
      ,[Audit_ProjectIndex]
      ,[Audit_SampleKey]
      ,[Audit_Sampled]
      ,[Audit_Exception]
      ,[Audit_ExceptionKey]
      ,[Audit_SampleKey_LOCKED]
  FROM [SONGS].[dbo].[SONGSGL]
  WHERE ((SONGS.dbo.SONGSGL.EmployeeID LIKE '%10975%' OR 
		SONGS.dbo.SONGSGL.EmployeeID LIKE '%23587%' OR
		SONGS.dbo.SONGSGL.EmployeeID LIKE '%31797%' OR
		SONGS.dbo.SONGSGL.EmployeeID LIKE '%5722%' OR
		SONGS.dbo.SONGSGL.EmployeeID LIKE '%27798%') OR 
		(SONGS.dbo.SONGSGL.SCEVendorID LIKE '%10975%' OR 
		SONGS.dbo.SONGSGL.SCEVendorID LIKE '%23587%' OR
		SONGS.dbo.SONGSGL.SCEVendorID LIKE '%31797%' OR
		SONGS.dbo.SONGSGL.SCEVendorID LIKE '%5722%' OR
		SONGS.dbo.SONGSGL.SCEVendorID LIKE '%27798%') OR
		(SONGS.dbo.SONGSGL.